<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/style.css"/>
    <title>Bogdan SOK project</title>
</head>
<body>


    <nav class="navbar">
        <h1 class="navbar-title">Bogdan SOK projekat</h1>

        <form class="form-inline" id="parse-form" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file">Izaberite fajl za parsiranje:</label>
            <input type="file" name="file" id="file" required>
            <button type="submit" id="parse-btn">Parsiraj</button>

        </form>
        <div>
    <input type="text" id="searchInput" placeholder="Search by node name">
    <button onclick="searchNodes()">Search</button>

            <input type="text" id="filterNode" placeholder="filter by node name">
    <button onclick="filterNodes()">Filter</button>
    </div>

    </nav>
    <div class="container">


{% block content %}
        {{ visualization_html }}
        {% endblock %}
        </div>

    <script>

        function filterNodes() {
    var searchTerm = document.getElementById('filterNode').value.toLowerCase();

     // Sakrij sve čvorove
    d3.selectAll('.node').style('display', 'none');

    // Prikazi čvorove koji se poklapaju sa pretragom
    d3.selectAll('.node').filter(function(d) {
        return d.name.toLowerCase().includes(searchTerm);
    }).style('display', 'block');

    // Prikazi sve veze
    d3.selectAll('.link').style('display', 'block');

    // Pronađi čvorove koji su sakriveni
    var hiddenNodes = d3.selectAll('.node').filter(function() {
        return getComputedStyle(this).display === 'none';
    });

    // Sakrij veze koje su povezane sa sakrivenim čvorovima
    d3.selectAll('.link').filter(function(d) {

    var isSourceHidden = hiddenNodes.data().some(function(node) {
        console.log(node.name)
        return node.name === d.source.name;
    });

    var isTargetHidden = hiddenNodes.data().some(function(node) {
        console.log(node.name === d.target)
        return node.name === d.target.name;
    });

    return isSourceHidden || isTargetHidden;
}).style('display', 'none');
}
        function searchNodes() {
    var searchTerm = document.getElementById('searchInput').value.toLowerCase();

    // Resetirajte boje svih čvorova
    d3.selectAll('.node').attr('fill', 'yellow');

    // Filtrirajte čvorove koji se poklapaju sa pretragom
    d3.selectAll('.node').filter(function(d) {
        return d.name.toLowerCase().includes(searchTerm);
    }).attr('fill', 'green');
  }

        document.getElementById('parse-form').addEventListener('submit', function (e) {
    e.preventDefault();

    var fileName = document.getElementById('file').value;
    console.log('File Name:', fileName);

    var formData = new FormData();
    formData.append('file', fileName);
    var csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    console.log('CSRF Token:', csrf_token);

    fetch('/parse_and_visualize/', {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrf_token,
        },
        body: formData,
    })
        .then(response => {

            location.href = ''
            //window.location.href = '/parse_and_visualize/';

        })
        .catch(error => {
            console.error(error);
        });
});


    </script>

</body>
</html>