<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/style.css"/>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <title>Bogdan SOK project</title>
</head>
<body>
<div class="container">
    <nav class="navbar">
        <h1 class="navbar-title">Bogdan SOK projekat</h1>

        <form class="form-inline" id="parse-form" enctype="multipart/form-data">

            <label for="file">Izaberite fajl za parsiranje:</label>
            <input type="file" name="file" id="file" required>
            <button type="submit" id="parse-btn">Parsiraj</button>
        </form>
        {% block content %}
        {{ visualization_html|safe }}
        {% endblock %}
    </nav>
</div>
</body>
</html>